<h1>Add Employee</h1>

<form action="/employees/add" method="POST">
	First_name : <input type="text" name="first_name" value="{{first_name}}">
	Last_name : <input type="text" name="last_name" value="{{last_name}}">
		

	<input type="submit">
</form>


